/* --- Variables y Reset --- */
:root {
    --bg-black: #000000;
    --text-main: #e0e0e0;
    --tech-yellow: #ffca28; /* El amarillo de tu logo */
    --font-tech: 'Fira Code', monospace;
    --font-body: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body {
    background-color: #000000;
    color: var(--text-main);
    font-family: var(--font-body);
}
.contenido-centrado{
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 2.5;
}
.contenido-centrado a{
    font-size: 0.75rem;
    color: #ffca28;
    padding-left: 15px;
    text-decoration: none;
}
.contenido-centrado a:hover{
    text-decoration: underline;
}
.f20{
    padding-bottom: 20px;
    font-size: 1.5rem;
}
header{
    display: flex;
    justify-content: center;
    background-color: var(--bg-black);
    width: 100%;
    border-bottom: 1px solid #3c3737;
    clear: both;
}


/* --- Header y Logo (Tu diseño) --- */
.logo-container {
    display: flex;
    align-items: center;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.logo-chip {
    width: 60px;
    height: auto;
}

.logo-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    line-height: 1 ;
    margin-bottom: 6px;
}

.typewriter-text {
    font-family: 'Raleway', sans-serif;
    color: var(--tech-yellow);
    font-weight: 300;
}

.blinking-bracket {
    color: white;
    animation: blink 1s steps(2, start) infinite;
}

.subtitle {
    font-family: var(--font-tech);
    font-size: 1rem;
    color: #888;
    letter-spacing: 1px;
    padding: 0 10px;
}
.subtitle::before{
    content: "|";
    padding-right: 10px;
}
.mobile-visible{
    display: none;
}
.mobile-invisible{
    display: block;
}

/* --- Grid de Servicios --- */

/* --- Animaciones --- */
@keyframes blink {
    to { visibility: hidden; }
}
/* Media Query para celulares (pantallas de menos de 768px) */
@media (max-width: 768px) {
    .mobile-visible{
    display: flex;
}
.mobile-invisible{
    display: none;
}
.subtitle::before{
    content: none;
    padding-right: 10px;
}
    
}

/* New animation */
.status-box {
            
            padding: 20px;
            
        }

        .loading-bar {
            width: 250px;
            height: 4px;
            background: #111;
            margin: 20px auto;
            position: relative;
            overflow: hidden;
        }

        .loading-bar-fill {
            position: absolute;
            height: 100%;
            width: 50%;
            background: #ffca28;
            animation: move-bar 2s ease-in-out infinite;
        }

        @keyframes move-bar {
            0% { left: -50%; }
            100% { left: 100%; }
        }
